@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-blue;
  }  
}

@layer components {
  .divider {
    background-image: url(/public/pattern-divider-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
